html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

header {
  background-image: url(image/glasses-bg.png);
  height: 31rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 960px;
  margin: auto;
}

div {
  display: block;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shrunken-menu {
  display: none;
}

ul li {
  display: inline;
  padding: 0 1rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: .67em 0;
}

.main-banner {
  background-color: white;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.services {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.paper img {
  width: 3.5rem;
}

.ruler img {
  width: 5rem;
}

.truck img {
  width: 5rem;
}

.info-header {
  max-width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
}

.bizinfo {
  display: flex;
  justify-content: center;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

footer {
  background-color: azure;
  display: flex;
  align-items: center;
  padding: 4rem 2rem;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.biz-info {
  margin-top: 3rem;
}
